

.divtt {
    background-color: rgb(64, 248, 8);;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
  
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .divtt:hover {
    background-color: #008080;
  } */
  
  .highlightedyy {
    background-color:blue;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bookedRoom {
    background-color:rgb(255, 0, 21) !important;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    /* transition: background-color 0.3s; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .roombookingu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

