.foot {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
  padding-top: 30px;
  height: auto;
  padding-bottom: 10px;
}

.left {
  /* background-color: #f1f1f1; */
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* line-height: 75px; */
  /* font-size: 30px; */
}

.right {
  /* background-color: #f1f1f1; */
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* line-height: 75px; */
  /* font-size: 30px; */
}
.socialflex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.flex-container23{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;

}
.adiv{
  
 width: 25%;
 

}
.list{

  list-style-type:none;
}
.list>li{

  margin-top: 5px;
}
.external-link {
  text-decoration: none; /* Remove underline */
  color: white; /* Set your desired text color */
  &:hover {
    color: rgb(2, 2, 22); /* Set your desired text color on hover */
  }
}
.socialflex> i {
  color: white;
}

@media only screen and (max-width: 676px) {
  .foot {
    /* display: flex; */
    flex-direction: column;
    /* background-color: DodgerBlue;
    padding-top: 30px;*/
    height: auto; 
  }

  .left{

    width:100%;
  }
  .right{
    margin-top: 40px;
    width:100%;
  }
  .flex-container23{
  
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin-top: 30px; */
  
  }
  .adiv{
  
    width: 40%;
    text-align: left;
   
   }


}